:root {
    font-family: Inter, Sans-Serif;
}

body {
    margin: 0;
    padding: 0;
}

.mainView {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 7vh 1fr;
    grid-template-areas: 
        "header header"
        "nav dashboard";
    height: 100vh;
}

.headerBar {
    grid-area: header;
    background-color: white;
    filter: drop-shadow(0 0 0.15rem black);
}  

.navBar {
    grid-area: nav;
    background-color: #161f2e;
}

.dashboard {
    grid-area: dashboard;
    background-color: white;
    overflow-y: auto;
}

.cardBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    
}

.card {
    background-color: #161f2e;
    border-radius: 8px;
    padding: 20px;
    color: white;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.card.loaded {
    opacity: 1;
    transform: translateY(0);
    filter: drop-shadow(0.10rem 0.10rem 0.15rem black);
}

.navItem {
    color: black;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    background-color: white;
}

.navItem.selected {
    color: black;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    background-color: white;
}