:root {
    font-family: Inter, Sans-Serif;
}

body {
    margin: 0;
    padding: 0;
}

.mainView {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 7vh 1fr;
    grid-template-areas: 
        "header header"
        "nav dashboard";
    height: 100vh;
}

.headerBar {
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: right;
}  

.logo {
    text-align: center;
    font-weight: 700;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navBar {
    grid-area: nav;
    background-color: #161f2e;
}

.dashboard {
    grid-area: dashboard;
    background-color: whitesmoke;
    overflow-y: auto;
}

.cardBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    color: black;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    position: relative;
}

.card.loaded:hover .tooltip{
    filter: drop-shadow(0 0 0.10rem black);
    visibility: visible;
}

.card.loaded {
    opacity: 1;
    transform: translateY(0);
    border: 1px solid rgba(128, 128, 128, 0.361);
}

.navItem {
    color: black;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    background-color: whitesmoke;
    transition: all 0.3s ease;
}

.navItem:hover {
    background-color: black;
    color: white; 
    cursor: pointer;   
}

.navItem.selected {
    color: black;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    background-color: white;
}

.statbar {
    background-color: white;
    color: black;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 4rem;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.statbar.loaded {
    opacity: 1;
    transform: translateY(0);
    border: 1px solid rgba(128, 128, 128, 0.361);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 5px;
}

@media (max-width: 1150px) {
    .cardBox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
        
    }
}

@media (max-width: 860px) {
    .cardBox {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 20px;   
    }

    .mainView {
        display: grid;
        font-size: 80%;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 7vh 1fr;
        grid-template-areas: 
            "header header"
            "nav dashboard";
        height: 100vh;
    }
}
#content1 {
    height: 300px; 
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    z-index: 1;
}

.item-card {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.item-card p {
    margin: 0;
    padding: 2px 0;
}

.item-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.item-subheader {
    display: flex;
    justify-content: space-between;
    color: #555;
}

#key1, #key2, #key3, #key4, #key5 {
    margin: 1px;
    border: 1px solid rgba(128, 128, 128, 0.361);
    text-align: center;
    padding: 6%;
    
}

#key1:hover, #key2:hover, #key3:hover, #key4:hover, #key5:hover {
    filter: drop-shadow(0 0 0.10rem black);   
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}